<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }
    </style>
</head>
<body>

    <h1>Личный кабинет</h1>
    <form method="post" enctype="multipart/form-data">  <!-- Не забудьте добавить enctype для загрузки файлов -->
        {% csrf_token %}
        {{ form.as_p }}  <!-- Выводим форму -->
        <button type="submit">Сохранить изменения</button>
    </form>

    <h2>Дополнительные действия:</h2>
    <a href="{% url 'user_list' %}"><button>Список пользователей</button></a>
    <a href="{% url 'user_messages' %}"><button>Личные сообщения</button></a> <!-- Кнопка для личных сообщений -->

    <a href="{% url 'group_chat_page' %}">Назад к чатам</a>  <!-- Ссылка для возврата к чатам -->

</body>
</html>

